@import "_variables.scss";
@import "_mixin.scss";

@include laptop {
  .hero {
    &__container {
      padding-top: 34px;
    }
    &__grid {
      grid-template-rows: repeat(1, 623px);
    }
    &__grid-sm {
      grid-template-rows: 332px 186px;
    }
    &__title-sm {
      margin-bottom: 22px;
    }
    &__content {
      padding: 31px;
      span {
        display: block;
        margin-bottom: 9px;
      }
      h2 {
        font-size: 34px;
      }
    }
  }
}

@include tablet {
  .hero {
    &__container {
      padding-top: 81px;
    }
    &__grid {
      grid-template-rows: repeat(1, 452px);
    }
    &__grid-sm {
      grid-template-rows: 228px 133px;
    }
    &__title-sm {
      font-size: 22px;
      padding-top: 0;
      margin-bottom: 16px;
    }
    &__content {
      span {
        margin-bottom: 14px;
      }
      h2 {
        line-height: 90%;
        margin-bottom: 23px;
      }
    }
  }
}
@include mobile {
  .hero {
    &__container {
      padding-top: 74px;
      padding-bottom: 51px;
    }
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 34px;
      grid-template-rows: repeat(1, 422px);
    }
    &__grid-sm {
      grid-template-rows: 186px 105px;
    }
    &__sticker {
      @include sticker-mobile;
      top: 6px;
      right: 5px;
    }
    &__content {
      span {
        margin-bottom: 7px;
      }
    }
    &__text {
      font-size: 14px;
    }
    &__content {
      h2 {
        font-size: 24px;
        line-height: 110%;
        margin-bottom: 14px;
      }
    }
    &__btn {
      @include btn-mobile;
    }
    &__title-sm {
      font-size: $mobileFontSizeTitle;
    }
  }
}
