$darkBgColor: #202020;
$titleColorLight: #fff;
$titleColorDark: #202020;
$btnColor: #ff6e30;
$fromColor: #4a4a4a;
$lightGrayColor: #cacaca;
$textLightColor: #999;
$bgForm: #e9e9e9;
$btnActiveColor: #ce4307;
$btnDarkOrange: #bc572b;
$navBtn: #808080;
$fontTitle: "TTFirsNeue";
$fontRoboto: "Roboto";
$effectsTime: 0.3s ease-in-out;
$breakpointLaptop: 1024px;
$breakpointTablet: 923px;
$breakpointMobile: 567px;
$mobileFontSizeTitle: 18px;
